html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  margin: 0;
  background-color: #ffff; /* Background color of whole body */
  font-family: "Lora", serif;
}

body button,
input {
  font-family: inherit;
}

::placeholder {
  color: #595c5f;
}

/* CSS Styling for workeazee background center logo*/
.background-logo {
  width: 100%;
  opacity: 0.9;
  position: relative;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
