html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  margin: 0;
  background-color: #ffffff; /* Background color of whole body */
  font-family: "Lora", serif;
}

ul {
  text-align: left;
}

/* AOS LIBRARY CHANGES - Duration Changes, Delay Changes */

body[data-aos-delay="11000"] [data-aos],
[data-aos][data-aos][data-aos-delay="11000"] {
  transition-delay: 11000ms;
}

body[data-aos-delay="9500"] [data-aos],
[data-aos][data-aos][data-aos-delay="9500"] {
  transition-delay: 9500ms;
}

body[data-aos-delay="8000"] [data-aos],
[data-aos][data-aos][data-aos-delay="8000"] {
  transition-delay: 8000ms;
}

body[data-aos-delay="6500"] [data-aos],
[data-aos][data-aos][data-aos-delay="6500"] {
  transition-delay: 6500ms;
}

body[data-aos-delay="5000"] [data-aos],
[data-aos][data-aos][data-aos-delay="5000"] {
  transition-delay: 5000ms;
}

body[data-aos-delay="3400"] [data-aos],
[data-aos][data-aos][data-aos-delay="3400"] {
  transition-delay: 3400ms;
}

/* AOS LIBRARY CHANGES END */

body button,
input {
  font-family: inherit;
}

::placeholder {
  color: #595c5f;
}

/* CSS Styling for workeazee background center logo*/
.background-logo {
  width: 100%;
  opacity: 0.9;
  position: relative;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
