/********************/
/* RESPONSIVE SECTION */
/*******************/

@media only screen and (max-device-width: 768px) {
  .navbar-light {
    background-color: #f3f2ef;
    color: #000000;
    text-align: center;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.8);
    padding: 0.5rem;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #000000;
  }

  .navbar-light .navbar-nav .active .nav-link {
    color: #000000;
  }

  .navbar-collapse.collapse.show ul li {
    border-bottom: 0.05rem solid #595c5f;
  }

  .home-page {
    padding-top: 5.25rem;
  }
}

@media (max-width: 992px) {
  /* REVIEWS SECTION - Responsive Start */

  .person-name {
    font-size: 0.85rem;
  }

  .person-firm {
    font-size: 0.75rem;
  }

  .person-rating {
    font-size: 0.8rem;
  }

  .review-date {
    font-size: 0.75rem;
  }

  .review-master-text {
    font-size: 0.7rem;
  }

  .review-card {
    height: 11rem;
  }

  /* REVIEWS SECTION - Responsive End */
}

@media (max-width: 600px) {
  /* REVIEWS SECTION - Responsive Start */

  .person-name {
    font-size: 0.75rem;
  }

  .person-firm {
    font-size: 0.7rem;
  }

  .person-rating {
    font-size: 0.75rem;
  }

  .review-date {
    font-size: 0.7rem;
  }

  .review-master-text {
    font-size: 0.65rem;
  }

  /* REVIEWS SECTION - Responsive End */
}
