/********************/
/* RESPONSIVE SECTION */
/*******************/

@media only screen and (max-device-width: 768px) {
  .navbar-light {
    background-color: #f3f2ef;
    color: #000000;
    text-align: center;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.8);
    padding: 0.5rem;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #000000;
  }

  .navbar-light .navbar-nav .active .nav-link {
    color: #000000;
  }

  .navbar-collapse.collapse.show ul li {
    border-bottom: 0.05rem solid #595c5f;
  }

  .home-page {
    padding-top: 5.25rem;
  }
}

/* Why WorkEazee Section and Access WorkEazee from any device - Start */
@media only screen and (max-device-width: 768px) {
  .handle-gif-image {
    height: 12rem;
    width: 20rem;
  }

  .handle-gif-image2 {
    height: 12rem;
    width: 12rem;
  }

  .any-device-img {
    height: 12rem;
    width: 12rem;
  }

  .any-device-head-text {
    padding: 0;
  }
}
/* Why WorkEazee Section and Access WorkEazee from any device - End */

/* TABLET AND iPAD  */

@media (max-width: 992px) {
  /* REVIEWS SECTION - Responsive Start */

  .person-name {
    font-size: 0.85rem;
  }

  .person-firm {
    font-size: 0.75rem;
  }

  .person-rating {
    font-size: 0.8rem;
  }

  .review-date {
    font-size: 0.75rem;
  }

  .review-master-text {
    font-size: 0.7rem;
  }

  /* REVIEWS SECTION - Responsive End */

  /* WORKFLOW SECTION - Responsive Start */

  .employee-text {
    font-weight: bold;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 0.8rem;
    font-size: 0.8rem;
  }

  .handle-employee-text {
    font-size: 0.65rem;
  }

  .tower-label1 {
    z-index: -1;
    position: relative;
    margin-bottom: -4.5rem;
    padding-left: 1rem;
  }

  .tower-label2 {
    z-index: -1;
    position: relative;
    margin-top: -5rem;
    padding-left: 1rem;
  }

  .tower-label3 {
    margin-left: 0rem;
    padding-left: 1.7rem;
  }

  .tower-label4 {
    margin-left: 0rem;
    padding-left: 1.7rem;
  }

  .flow-employee-icon1 {
    height: 7rem;
    width: 7rem;
  }

  .flow-employee-icon2 {
    margin-top: 9rem;
    height: 7rem;
    width: 7rem;
  }

  .flow-employee-icon3 {
    height: 6rem;
    width: 6rem;
  }

  .flow-employee-arrow {
    padding-top: 12rem;
    padding-left: 0.7rem;
    font-size: 1.5rem;
    color: #f79431;
  }

  .flow-icon1 {
    font-size: 3.5rem;
    padding-top: 1.6rem;
  }

  .flow-icon2 {
    font-size: 2.5rem;
    padding-top: 1.6rem;
  }

  /* WORKFLOW SECTION - Responsive End */

  /* FOOTER SECTION - Responsive Start */

  .qrcode {
    height: 7rem;
  }

  .address {
    font-size: 14px;
  }

  .footer-headings {
    font-size: 1.3rem;
  }

  .locate-class {
    text-align: left;
  }

  .download-class {
    text-align: center;
  }

  /* FOOTER SECTION - Responsive End */
}

/* MOBILE PHONE'S VIEW */

@media (max-width: 600px) {
  [data-aos-delay] {
    /* ADDED TO REMOVE DELAY FROM ANIMATION IN MOBILE VIEW */
    transition-delay: 0s !important;
  }

  /* REVIEWS SECTION - Responsive Start */

  .person-name {
    font-size: 0.75rem;
  }

  .person-firm {
    font-size: 0.7rem;
  }

  .person-rating {
    font-size: 0.75rem;
  }

  .review-date {
    font-size: 0.7rem;
  }

  .review-master-text {
    font-size: 0.65rem;
  }

  /* REVIEWS SECTION - Responsive End */

  /* WORKFLOW SECTION - Responsive Start */

  .employee-text {
    font-weight: bold;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
  }

  .handle-employee-text {
    font-size: 1rem;
  }

  .handle-employee-text-update {
    margin-left: 0rem;
    margin-top: 3rem;
  }

  .handle-employee-text-update1 {
    margin-left: 1rem;
    margin-top: 3rem;
    margin-bottom: -2rem;
  }

  .handle-employee-text-update2 {
    margin-left: 2rem;
    margin-top: 3rem;
    margin-top: -2rem;
  }

  .tower-label1,
  .tower-label2,
  .tower-label3,
  .tower-label4 {
    visibility: hidden;
  }

  .flow-icon2 {
    font-size: 3.5rem;
    padding-top: 1.6rem;
  }

  .flow-employee-icon1 {
    height: 7rem;
    width: 7rem;
    margin-left: -5%;
    margin-top: 0rem;
    display: inline-block;
  }

  .flow-employee-icon2 {
    margin-top: -3rem;
    margin-left: 15%;
    margin-bottom: -4rem;
    height: 7rem;
    width: 7rem;
    display: inline-block;
  }

  .flow-employee-icon3 {
    height: 7rem;
    width: 7rem;
    margin-left: 33%;
    display: inline-block;
  }

  .flow-employee-arrow {
    position: relative;
    margin-top: -4rem;
    margin-bottom: -12rem;
    font-size: 3rem;
    color: #f79431;
    transform: rotate(90deg);
    margin-left: 70%;
  }

  .handle-mobile-space {
    margin-top: -4rem;
    display: flex;
  }

  /* WORKFLOW SECTION - Responsive End */

  /* FOOTER SECTION - Responsive Start */

  .download-class {
    padding-top: 2rem;
  }

  .locate-class {
    padding-top: 2.5rem;
    text-align: left;
  }

  .qrcode {
    height: 5rem;
    width: 5rem;
  }

  .footer-product-workeazee-img .container-for-image-and-title {
    float: unset;
  }

  .container-for-image-and-title img {
    margin: auto;
  }
  /* FOOTER SECTION - Responsive End */
}
