html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  color: #000000;
  background-color: #ffffff; /* Background color of whole body */
  font-family: "Lora", serif;
  overflow-x: hidden;
}

a {
  color: #000;
}

ul {
  text-align: left;
}

/* AOS LIBRARY CHANGES - Duration Changes, Delay Changes */

body[data-aos-delay="11000"] [data-aos],
[data-aos][data-aos][data-aos-delay="11000"] {
  transition-delay: 11000ms;
}

body[data-aos-delay="9500"] [data-aos],
[data-aos][data-aos][data-aos-delay="9500"] {
  transition-delay: 9500ms;
}

body[data-aos-delay="8000"] [data-aos],
[data-aos][data-aos][data-aos-delay="8000"] {
  transition-delay: 8000ms;
}

body[data-aos-delay="6500"] [data-aos],
[data-aos][data-aos][data-aos-delay="6500"] {
  transition-delay: 6500ms;
}

body[data-aos-delay="5000"] [data-aos],
[data-aos][data-aos][data-aos-delay="5000"] {
  transition-delay: 5000ms;
}

body[data-aos-delay="3400"] [data-aos],
[data-aos][data-aos][data-aos-delay="3400"] {
  transition-delay: 3400ms;
}

/* AOS LIBRARY CHANGES END */

body button,
input {
  font-family: inherit;
}

::placeholder {
  color: #595c5f;
}

/* CSS Styling for workeazee background center logo*/
.background-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  width: 100%;
}

#loading-screen {
  width: 100%;
  height: 100vh;
  background: #fff url("/images/preloader-gif-unscreen.gif");
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: 9999;
}

/* MODAL SECTION STARTS */

.modal {
  text-align: justify;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.modal-content {
  background: #fefefe;

  /* CHANGES FOR CENTERING THE DIV */
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10000;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  margin: auto;
  padding: 20px;
  width: 80%;
  border-radius: 15px;
}

.close {
  float: right;
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
}

.disclaimer-head-text {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  color: #f79431;
}

.disclaimer-content {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.disclaimer-bottom-content {
  display: block;
}

.disclaimer:hover {
  color: red;
}

/* MODAL SECTION ENDS */