/* MID SECTION - Sections after navbar */

/* .mid-section a {
  color: black;
}

.mid-section a:hover {
  color: #f79431;
} */

.feature-class,
.workflow-class,
.review-class,
.pricing-class,
.contact-us-class {
  position: relative;
  /* display: flex; */ /* CHANGED BECAUSE IT WAS AFFECTING THE CONTENT */
  /* align-items: center; */ /* CHANGED BECAUSE IT WAS AFFECTING THE CONTENT */
  width: 100%;
}

/* Sections Heading */
.main-heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* WORK MANAGEMENT FLOW SECTION STARTS HERE */

.rounded-circle {
  border: 0.125rem solid;
}

.employee-row {
  margin-top: 2rem;
}

.employee-text {
  font-weight: bold;
  color: black;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.3rem;
  font-size: 1.2rem;
}

.update-new-flow1 {
  margin-top: -3rem;
  margin-left: 0.8rem;
}

.update-new-flow2 {
  margin-top: 3rem;
  margin-left: 0.8rem;
}

.handle-employee-text {
  font-size: 1.1rem;
}

.handle-employee-text-update {
  font-size: 1.1rem;
  margin-left: -2rem;
}

.tower-label1 {
  z-index: -1;
  position: relative;
  margin-bottom: -2.5rem;
}

.tower-label2 {
  z-index: -1;
  position: relative;
  margin-top: -5rem;
}

.tower-label3 {
  z-index: -1;
  position: relative;
  height: 3rem;
  margin-left: 3.5rem;
}

.tower-label4 {
  z-index: -1;
  height: 3rem;
  position: relative;
  margin-left: 3.5rem;
}

.flow-icon1 {
  font-size: 6rem;
  padding-top: 1.8rem;
  color: white;
}

.flow-icon2 {
  font-size: 5rem;
  color: white;
  padding-top: 1.8rem;
}

.flow-employee {
  background-color: #f79431;
}

.flow-employee-icon1 {
  height: 10rem;
  width: 10rem;
  background-color: #ff7058;
}

.flow-employee-icon2 {
  margin-top: 10rem;
  height: 10rem;
  width: 10rem;
  background-color: #ff7058;
}

.flow-employee-icon3 {
  z-index: 10;
  height: 9rem;
  width: 9rem;
  background-color: #ff7058;
}

.flow-employee-arrow {
  padding-top: 14rem;
  padding-left: 0.7rem;
  font-size: 3rem;
  color: #f79431;
}

/* WORK MANAGEMENT FLOW SECTION ENDS HERE */

/* PRICING SECTION STARTS HERE */
.form-input-number-of-users {
  margin: auto;
}

.pricing-class .fancy-head-text {
  font-weight: bold;
}

.pricing-cards,
.final-price-calcs {
  margin: 1.5rem 0;
}

.pricing-card,
.final-price-calc {
  padding: 2rem 1rem;
  margin-bottom: 0.75rem;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;

}

.cd-pricing-header h5 {
  margin-bottom: 3px;
  text-transform: uppercase;
  background: #f1f1f1;
  padding: 5px 0;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.cd-duration {
  text-transform: uppercase;
}

.cd-pricing-header .cd-currency {
  display: inline-block;
  margin-top: 10px;
  vertical-align: top;
  font-size: 2rem;
}

.cd-pricing-header .cd-value {
  font-size: 4rem;
}

.cd-pricing-body {
  background-color: rgba(23, 61, 80, 0.06);
  float: none;
  width: auto;
  padding: 1em;
}

.cd-pricing-footer {
  position: relative;
  height: auto;
  padding: 1.8em 0 1em 0;
  text-align: center;
}

.cd-pricing-footer .cd-select {
  position: static;
  display: inline-block;
  height: auto;
  padding: 0.6em 2.6em;
  color: #fff;
  border-radius: 2px;
  background-color: #0c1f28;
  font-size: 1rem;
  text-indent: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.additional-features-row,
.final-price-calc {
  margin: 1.5rem 0;
  padding: 2rem 1rem;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.final-price-calc h5,
.additional-features-row h5 {
  font-weight: 600;
  color: #f79431;
}

.final-price-calc p,
.final-price-calc span {
  font-weight: bold;
}

.final-price-calc .row {
  justify-content: space-between;
}

/* PRICING SECTION ENDS HERE */

/* REVIEWS SECTION STARTS HERE */

.review-card {
  padding: 2rem 1rem;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.person-master-text {
  text-align: left;
  flex-basis: unset;
}

.person-name {
  font-size: 1rem;
}

.person-firm {
  font-size: 0.9rem;
}

.review-master-text {
  padding-top: 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: justify;
  letter-spacing: 0.03rem;
}

.star-icon {
  color: #ffd700;
}

.review-date {
  font-size: 0.9rem;
  /* padding-top: 0.3rem; */
}

.person-rating-div {
  flex-basis: unset;
}

.person-rating {
  text-align: right;
}

/* REVIEWS SECTION ENDS HERE */

/* WHY WORKEAZEE SECTIONS STARTS HERE */

.fancy-head-text {
  color: #f79431;
}

.why-workeazee-class {
  padding-top: 3rem;
}

.why-workeazee-head-text {
  padding-bottom: 3rem;
}

.handle-gif-image {
  height: 15rem;
  width: 23rem;
}

.handle-gif-image2 {
  height: 15rem;
  width: 15rem;
}

.why-workeazee-text-content {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

/* WHY WORKEAZEE SECTIONS ENDS HERE */

/* AVAILABLE ON ANY DEVICE SECTION STARTS HERE */

.any-device-class {
  padding-top: 2rem;
  padding-bottom: 3.5rem;
}

.any-device-img {
  height: 18.5rem;
  width: 18.75rem;
  background-color: #ffffff;
}

.any-device-text {
  padding-top: 1.5rem;
}

.any-device-head-text {
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;
}

.playstore-logo {
  padding-top: 1.5rem;
  height: 6rem;
  width: 10rem;
}

/* AVAILABLE ON ANY DEVICE SECTION ENDS HERE */

/* FREE DEMO BUTTON STARTS*/

.free-demo-text {
  padding-bottom: 1.5rem;
}

.free-demo-class {
  padding-top: 1rem;
  margin-bottom: 2rem;
  background-color: #e8e8e8;
  width: 100%;
}

.free-demo-button {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #f79431;
  background-color: transparent;
  background-image: none;
  border: 0.125rem solid;
  border-color: #f79431;
  font-weight: 600;
}

.free-demo-button:hover {
  color: #ffffff;
  background-color: #f79431;
  border-color: #f79431;
}

/* FREE DEMO BUTTON ENDS*/
